{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'header.registration'|trans }}</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.confirmPassword) }}
    <button type="submit" class="btn btn-primary">{{ 'action.confrim'|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
