{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.details'|trans({'%id%': wallet.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'header.your_wallet'|trans({'%id%': wallet.id|default('')}) }}</h1>
    {% if wallet is defined and wallet|length %}
        <dl>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ wallet.title }}</dd>
            <dt>{{ 'label.balance'|trans }}</dt>
            <dd>{{ wallet.getBalance|number_format(2, ',', ' ') }} PLN</dd>
            <dt>{{ 'label.type'|trans }}</dt>
            <dd>{{ wallet.type }}</dd>
        </dl>
        {% if transactions is defined and transactions|length %}
            <h3>{{ 'label.transactions'|trans }}</h3>
            {{ form_start(filterForm, {'method': 'GET'}) }}
            <div>
                {{ form_label(filterForm.dateFrom, 'label.date_from') }}
                {{ form_widget(filterForm.dateFrom, {'attr': {'class': 'js-datepicker'}}) }}
            </div>
            <div>
                {{ form_label(filterForm.dateTo, 'label.date_to') }}
                {{ form_widget(filterForm.dateTo, {'attr': {'class': 'js-datepicker'}}) }}
            </div>
            <div>
                <button type="submit" class="btn btn-primary">{{ 'action.filter'|trans }}</button>
            </div>
            {{ form_end(filterForm) }}
            <table>
                <thead>
                <tr>
                    <th>{{ 'label.created_at'|trans }}</th>
                    <th>{{ 'label.title'|trans }}</th>
                    <th>{{ 'label.amount'|trans }}</th>
                    <th>{{ 'label.balance_after_transaction'|trans }}</th>
                    <th>{{ 'label.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.createdAt|format_date('long') }}</td>
                        <td>{{ transaction.title }}</td>
                        <td>{{ transaction.amount|number_format(2, ',', ' ') }} PLN</td>
                        <td>{{ transaction.balanceAfterTransaction|number_format(2, ',', ' ') }} PLN</td>
                        <td>
                            <a href="{{ url('transaction_delete', {id: transaction.id}) }}" class="btn btn-danger">{{ 'action.delete'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <p>
            <a href="{{ path('wallet_index') }}" class="btn btn-primary">{{ 'action.return'|trans }}</a>
        </p>
        <p>
            <a href="{{ path('transaction_create', {'wallet': wallet.id}) }}" class="btn btn-secondary">{{ 'action.add_transaction'|trans }}</a>
        </p>
    {% else %}
        <p class="text-warning">
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}
