{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.transaction_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Lista transakcji'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="create-category-link">
            <a href="{{ path('transaction_create') }}" class="btn btn-primary">Dodaj transakcje</a>
        </div>
        <br>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'transaction.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'transaction.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.wallet'|trans, 'wallet.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'category.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.tag'|trans, 'tag.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.amount'|trans, 'transaction.amount') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in pagination.items %}
                <tr>
                    <td>{{ task.createdAt|format_date('long') }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.wallet.title }}</td>
                    <td>
                        <a href="{{ url('transaction_index', {'filters.category_id' : task.category.id}) }}">{{ task.category.title }}</a>
                    </td>
                    <td>
                        {% for tag in task.tags %}
                        {{ tag.title }}
                        {% endfor %}
                    </td>
                    <td>{{ task.amount|number_format(2, ',', ' ') }} PLN</td>
                    <td>
                        <a href="{{ url('transaction_edit', {id: task.id}) }}" class="btn btn-secondary">{{ 'Edytuj'|trans }}</a>
                        <a href="{{ url('transaction_delete', {id: task.id}) }}" class="btn btn-danger">{{ 'Usuń'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
{% endblock %}
